body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
	list-style-type:none;
}

li {
    margin: 0;
    padding: 0;
	float: left;
	margin-right:8%;
	margin-left: 8.1%;
}

p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 70%;

}


a {
	color:white;
	text-decoration:none;
	padding: ;
}
header{
	text-align:center;
}
.container{
	display:grid;
	grid-template-columns: auto auto auto;
	padding:10px;
}
.contained{
	padding:10px;
	text-align:center;
}
.containedi {
	padding:10px;
	text-align:center;
	transition: transform .2s;
}
.containedi:hover {
	transform: scale(1.02);
}
#links{
	grid-column: 1 / 4;
	background-color: black;
}
#copyright{
	grid-column: 1 / 4;
}