body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #697565;
}

p {
    margin: 0;
    padding: 0;
}

header{
	color:white;
	text-align:center;
	background-color: #10120d;
	width:100%;
	margin:0;
	padding:5px;
}
h1{
	margin: 0;
	padding: 0;
}

.contained{
	display:flex;
	padding:5px;
	text-align:center;
	background-color: #3C3D37;
	justify-content: space-evenly;
	width:100%;

}
.contained ul {
    margin: 0;
    padding: 0;
	list-style-type:none;
	display:flex;
	width: 100%;
}
.contained li {
    margin: 0;
    padding: 0;
	text-align: center;
	flex: 1;
}
.contained a {
	display:block;
	color:white;
	text-decoration:none;
}
.contained a:hover{
	color: #181C14;
}

.container{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	width:100%;
	padding:5px;
	gap: 5px;
	background-color: #ECDFCC;
}

.containedi {
	flex:1 1 20%;
	min-width: 300px;
	padding: 5px;
	text-align:center ;
	transition: transform .2s;
	overflow: auto;
}
.containedi:hover {
	transform: scale(1.02);
	background-color: #dbceba;
	border-style:dashed;
	border-width: 2px;

}
.containedi img{
    max-width: 100%;
    height: 75%;
}

#copyright{
	margin-top:10px;
	text-align: center;
}